g7OuTOsLZooC61BH-RAG_AGENT_HALF02.json
{
  "name": "RAG-AGENT-HALF02",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=anwer the question {{ $json.body.question }}",
        "options": {
          "systemMessage": "=You are a helpful assistant answer the below question :  {{ $json.body.question }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        240,
        0
      ],
      "id": "51740e36-224c-45ae-a124-ca2546f0d008",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "retrieve data on the basis of the user query",
        "pineconeIndex": {
          "__rl": true,
          "value": "ragagentidx",
          "mode": "list",
          "cachedResultName": "ragagentidx"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        480,
        256
      ],
      "id": "e9b8d7ff-fd44-4ed9-b410-b7f323d8b21b",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "XO7vMQNCe5oVALwE",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        368,
        432
      ],
      "id": "c25c0fa2-dbe4-4fdb-9371-1096ee3d9fc1",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "eEocWsctrtlrvb2d",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        96,
        208
      ],
      "id": "b7cd2fcf-ddee-49de-baab-b7b72e8632e9",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "eEocWsctrtlrvb2d",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "hello"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        240,
        208
      ],
      "id": "0edda44a-006c-42e3-8841-6ab9d923174c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "12fc308f-c1b0-4a8f-92c0-8149e59c0273",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -32,
        16
      ],
      "id": "9ceaeeab-a966-4f54-b059-c54b9e5a6ef3",
      "name": "Webhook",
      "webhookId": "12fc308f-c1b0-4a8f-92c0-8149e59c0273"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        592,
        0
      ],
      "id": "25459575-fb11-4884-aedc-0159b226f099",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}